
      <div class="container">

      <form
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate >
        <mat-form-field appearance="outline">
          <mat-label>Enter your Name</mat-label>
          <input
            matInput
            placeholder="User Name"
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="form.username"
            required
            #username="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && username.errors }"

          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && password.errors }"/>
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
             type="button">
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Select User Role</mat-label>
          <mat-select [(value)]="form.isAdmin" name="isAdmin">
            <mat-option value="true">Admin</mat-option>
            <mat-option value="false">User</mat-option>
          </mat-select>
         </mat-form-field>

        <button type="submit"class="signup-btn buttons">
          Create User<a href="#"></a>
         </button>

    <div class="right-content">
      <div class="right-content-img">
      </div>


